$colors:(
    primary:( 
        blue-400: hsl(213, 96%, 18%),
        blue-300: hsl(243, 100%, 62%),
        blue-200: hsl(228, 100%, 84%),
        blue-100: hsl(206, 94%, 87%),
        red-100: hsl(354, 84%, 57%),
    ),
    Neutral:(
        500: hsl(231, 11%, 63%),
        400: hsl(229, 24%, 87%),
        300: hsl(217, 100%, 97%),
        200: hsl(231, 100%, 99%),
        100: hsl(0, 0%, 100%),
    )
)